<%
  file = record[key]
  dialog_id = "#{key}_contents_dialog".underscore
%>
<span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
  <% if file.content.present? %>
    <a href="#" data-target="#<%= dialog_id %>" data-toggle="modal">Show</a>
    <div id="<%= dialog_id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 class="modal-title">Contents for <%= key.to_s.humanize %></h1>
          </div>
          <div class="popup-tool-form">
            <%= file.content %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    Empty
  <% end %>
</span>
